/*3D效果----------------------
---------------------------------*/

div#tre > div {
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 800;
    -moz-transform-style: preserve-3d;
    -ms-perspective: 800;
    -ms-transform-style: preserve-3d;
    -o-perspective: 800;
    -o-transform-style: preserve-3d;
}

div#tre > div:last-child {
    position: relative;
    top: -36px;
}

div#tre > div {
    -webkit-transition: all 500ms ease-in-out;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(-90deg);
    -moz-transition: all 500ms ease-in-out;
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(-90deg);
    -o-transition: all 500ms ease-in-out;
    -o-transform-origin: 50% 100%;
    -o-transform: rotateX(-90deg);
    -ms-transition: all 500ms ease-in-out;
    -ms-transform-origin: 50% 100%;
    -ms-transform: rotateX(-90deg);
}

div#tre > div.on {
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -o-transform: rotateX(0);
    -ms-transform: rotateX(0);
}

.trackNotSupported {
    display: none;
}

.trackNotSupported.show {
    display: block;
}

.warningMessage {
    color: red;
}

.talkinghead-dutton:before {
    background-image: url(/static/images/profiles/dutton.png);
    background-size: 60px 60px;
    background-position: 0px 0px!important;
}

div#eric {
    text-align: center;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    /* Chrome, Safari, Opera */
    -moz-transform: translateX(-50%) translateY(-50%);
    /*下一层居中*/
    -o-transform: translateX(-50%) translateY(-50%);
    /*    background: url('/source/dynamic.png') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
    opacity: 0;
    /*视频停止的时候*/
    /**/
}

.stopfade {
    opacity: 1;
}

#polina {
    font-family: Times Square, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 2rem;
    float: right;
    font-size: 1.6rem;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}

#polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}

#polina button:hover {
    background: rgba(0, 0, 0, 0.5);
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    transition: .6s background;
}

a:hover {
    background: rgba(0, 0, 0, 0.9);
}


}